<!DOCTYPE html>
{% extends 'medplus/base.html'%}
{% load staticfiles %}

<!-- comments -->
<html>
    <body>
        {% block body_block %}
        <h1>Medplus Dashboard</h1>
        <div>
            Welcome to Medplus! <br />
        </div>
            
        <div class="container p-3 my-3 bg-dark text-white">
            <h2>Last Reported Outbreak</h2>

            {% if last_reported %}
             <ul>
                {% for d in last_reported %} 
                 <li> {{ d.outbreak }} - {{d.full_loc}} </li>
                {% endfor %}
                </ul> 
            {% else %} 
                <strong> No outbreak data</strong>
            {% endif %}
        </div>

        <h2>Newly Emerged Outbreak</h2>
        
        <div>
            {% if newly_emerged %}
             <ul>
                {% for d in newly_emerged %} 
                 <li> {{ d.outbreak }} - {{d.full_loc}}</li>
                {% endfor %}
                </ul> 
            {% else %} 
                <strong> No outbreak data</strong>
            {% endif %}
        </div>

        <h2>Highest Reported Outbreak</h2>
        
        <div>
            {% if highest_reported %}
             <ul>
                {% for d in highest_reported %} 
                 <li> {{ d.outbreak }} </li>
                {% endfor %}
                </ul> 
            {% else %} 
                <strong> No outbreak data</strong>
            {% endif %}
        </div>

        {% endblock %}
    </body>

</html>