<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>MEDplus</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/static/bootstrap-4.1.3-dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/css/fixed.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
   
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</head>

<body data-spy="scroll" data-target="#navbarResponsive">

<!-- Start Home-->
<div id="home">

<!--Navigation-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">
        <img src="/static/img/logo1.png" alt="logo" height="62"/>
        Medplus
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="#home">Home</a></li>
            <li class="nav-item "><a class="nav-link" href="#about">About</a></li>
            <li class="nav-item"><a class="nav-link" href="#dashboard">Dashboard</a></li>
            <li class="nav-item "><a class="nav-link" href="#search">Search</a></li>
            <li class="nav-item"><a class="nav-link" href="#data">View Data</a></li>
            <li class="nav-item"><a class="nav-link" href="#map">Map</a></li>
            <li class="nav-item"><a class="nav-link" href="#subscribe">Subscribe</a></li>
            <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
            
        </ul>
    </div>
</nav>
 
<!-- End of nav-->

<!--Start landing page-->
<div class="landing">
    <div class="home-wrap">
        <div class="home-inner">

        </div>
    </div>
</div>

<div class="caption text-center">
    <h1>Welcome to MEDplus</h1>
    <h3>Monitoring Emerging Diseases (MEDplus)</h3>
    <a class="btn btn-outline-light bth-lg" href="#dashboard">Get Started</a>
</div>
<!--End landing page-->

</div>
<!--End of Home-->

<!-- Start about-->
<div id="about" class="offset">
<div class="col-12 narrow text-center">
    <h3 class ="heading"> About</h3>
    <div class="heading-underline"></div>
    <p class="detail"> Monitoring Emerging Diseases Plus is an advanced version of the orginal website promedmail.org - which is a program of the International 
        Society for Infectious Diseases. We aim to provide essential source of information about outbreaks using this website.
        <br>
        <br> MEDplus operates in connection with the ProMED but with a detailed insight into the emerging outbreaks and its distribution across the world. 
    </p>
</div>
</div>
<!--End of about-->

<!-- Start dashboard-->
<div id="dashboard" class="offset">
<!--Start of Jumbotron-->    
<div class="jumbotron">
<div class="narrow">
    <div class="col-12 text-center">
      <h3 class="heading">Dashboard</h3>  
      <div class="heading-underline"></div>
    </div>
    <!--Start of content---> 
    <div class="row text-center">
        <div class="col-md-4">
            <div class="feature">
                <i class="fas fa-spinner fa-spin" style="font-size:48px"></i>
                <h4>Last Reported Outbreak</h4>
                <div class="dashboard">
                    <p> {% if last_reported %}
                        <ul>
                            {% for d in last_reported %} 
                            <p> {{ d.outbreak }} <br> {{d.full_loc}} </p>
                            {% endfor %}
                            </ul> 
                        {% else %} 
                            <strong> No outbreak data</strong>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="feature">
                <i class="fas fa-thin fa-chart-line" style="font-size:48px"></i>
                <h4>Highest Reported Outbreak</h4>
                <div class="dashboard">
                    <p> {% if last_reported %}
                        <ul>
                        {% for d in highest_reported %} 
                            <p> {{ d.outbreak }}  </p>
                        {% endfor %}
                        </ul> 
                    {% else %} 
                        <strong> No outbreak data</strong>
                    {% endif %}
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="feature">
                <i class="fas fa-stroopwafel fa-spin" style="font-size:48px"></i>
                <h4>Newly Emerged Outbreak</h4>
                <div class="dashboard">
                    <p> {% if newly_emerged %}
                        <ul>
                        {% for d in newly_emerged %} 
                            <p> {{ d.outbreak }} <br> {{d.full_loc}} </p>
                        {% endfor %}
                        </ul> 
                    {% else %} 
                        <strong> No outbreak data</strong>
                    {% endif %}
                    </p>
                </div>
            </div>
        </div>
    <!--End of content--> 

    </div>
</div> <!--End of narrow-->
</div> <!--End of Jumbotron--> 

</div>
<!--End of dashboard-->

<!-- Start search-->
<div id="search" class="offset">
<div class="fixed-background">
<div class="row-dark text-center">
    <div class="col-12 text-center">
        <h3 class="heading">Search</h3>  
        <div class="heading-underline"></div>
    </div>

    <!--Start of Table-->
    <div class="container mt-3">
    <table class="table table-bordered" id="myTable">
        <thead>
            <tr style= "color:white">
                <th style="width: 30%">Outbreak</th>
                <th style="width: 20%">Place</th>
                <th style="width: 20%">Continent</th>
                <th style="width: 20%">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for outbreaks_data in outbreak_data %} 
            
                <tr>
                    <td>{{ outbreaks_data.outbreak }}</td>
                    <td>{{ outbreaks_data.place }}</td>
                    <td>{{ outbreaks_data.continent }}</td>
                    <td>{{ outbreaks_data.date }}</td>
                </tr>

            {% endfor %}
        </tbody>
    </table>
    </div>

    <!--End of Table-->

    <div class="fixed-wrap">
        <div class="fixed">
        </div>
    </div>

</div><!--End of fixed background-->
    
</div>
<!--End of search-->

<!-- Start map-->
<div id="map" class="offset">
    
</div>
<!--End of map-->

<!-- Start view data-->
<div id="data" class="offset">
    <div class="narrow">
        <div class="col-12 text-center">
          <h3 class="heading">View Data</h3>  
          <div class="heading-underline"></div>
        </div>
    </div>
</div>
<!--End of view data-->


<!-- Start subscribe-->
<div id="subscribe" class="offset">
    <div class="jumbotron">
        <div class="col-12 text-center">
          <h3 class="heading">Subscribe</h3>  
          <div class="heading-underline"></div>
        </div>

    <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="subscription-wrapper">
              <div class="d-flex subscription-content justify-content-between align-items-center flex-column flex-md-row text-center text-md-left">
                <h3 class="flex-fill">Subscribe <br> to our notifications</h3>
                <form action="#" class="row flex-fill">
                  <div class="col-lg-7 my-md-2 my-2">
                    <input type="email" class="form-control px-4 border-0 w-100 text-center text-md-left" id="email" placeholder="Your Email" name="email">
                  </div>
                  <div class="col-lg-5 my-md-2 my-2">
                    <button type="submit" class="btn btn-primary btn-lg border-0 w-100">Subscribe Now</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
</div>
<!--End of subscribe-->

<!-- Start contact-->
<div id="contact" class="offset">
<footer>
    <div class="row justify-content-center">
        <div class="col-md-5 text-center">
            <img src="/static/img/logo2.png">
            <p>At our core is a collection of data detailing the outbreaks in the world. Everything you need to be updated
                with the latest outbreaks.
            </p>
            <strong>Contact Info</strong>
            <p> Location: 2 University Avenue, Glasgow, G12 8QQ</p>
            <p> Telephone: +44 1413302000</p>
            <p> Fax: +44 1413302009</p>
            <p> Email: medplus@email.co.uk</p>
        </div>

        <hr class="socket">
        &copy; MEDplus.
    </div>
</footer>
</div>
<!--End of subscribe-->











<!--- Script Source Files -->
<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/bootstrap-4.1.3-dist/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
<script src="/static/script.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>


<script>

    $(document).ready( function () {
    $('#myTable').DataTable({
        order: [[0, 'asc']],
    });
    } );
</script>


<!--- End of Script Source Files -->

</body>
</html>

<!--
    $(document).ready(function () {
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
            $("#myTable").DataTable();
        });
    });

-->